
.nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 100;
    
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    z-index: 89;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
}
.logo {
    height: 60px;
    margin-left: 20px;
}
.request {
    border: 3px solid #FF055F;
    border-radius: 5px;
    padding: 10px 15px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-right: 20px;
}

.fa-solid {
}
.fa-clipboard {
    color: #FF055F;
}

.fa-x {
    height: 0px;
}
.request__text {
    color: #FF055F;
    text-align: right;
}
.nav__border {
    height: 2px;
    width: 100%;
    background-image: linear-gradient(90deg, #0BB6FF, #FF045F);
    border: none;
    margin-top: 15px;
}
.request__text::before {
    content: "Leave a Request";
}

.request::before {
    content: url("../../img/icons/list.svg");

}

    


.toggler {
    width: 180px;
    margin: auto;
    height: 100px;
    position: absolute;
    top: 0px;
    right: calc((100vw - min(100vw, 1800px)) / 2 + 20px);
    opacity: 0;
    z-index: 999;
}

.screen {
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(2px);
    overflow: hidden;
    transition: 1s;
}



.toggler:checked ~ .container .request__text::before {
    content: "Close";
}


.toggler:checked ~ .screen {
    height: 100vh;
}

.toggler:checked ~ .container .request::before {
    content: url("../../img/icons/cross.svg");
}


.nav__form {
    width: 750px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px;
    transition: 1s;
    position: absolute;
    
}
.form__title {
    text-align: center;
    margin-bottom: 50px;
}
.form__input {
    border-radius: 20px;
    background-color: #EAEAEA;
    color: black;
    border: none;
    outline: none;
    padding: 20px;
    width: 550px;
    margin-bottom: 60px;

}

.form__input::placeholder {
    color: black;

}
.form__submit {
    border-radius: 20px;
    width: 300px;
    color: white;
    background-color: #0BB6FF;
    padding: 30px 120px;
    border: none;
    transition: 1s;
}

.form__submit:hover {
    background-color: rgba(11, 182, 255, 0.60);
}

.form__submit:active {
    background-color: black;
}


